{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div style="text-align:center; padding: 2rem;">
        <h1>⛔ Accès refusé</h1>
        <p>Vous n’avez pas les autorisations nécessaires pour accéder à cette page.</p>
        <a href="{{ path('app_login') }}">Retour à la connexion</a>
    </div>
{% endblock %}
